* {
   box-sizing: border-box;
}
body {
   font: 400 14px/1 "PT Sans", sans-serif;
   margin: 0;
}
ul {
   padding: 0;
}
ul li {
   list-style: none;
   display: inline-block;
}
a {
   text-decoration: none;
   color: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

button {
   border: none;
   background-color: transparent;
   cursor: pointer;
   padding: 0;
}

/* !burger */

.burger {
   height: 30px;
   width: 30px;
   transition: all 0.5s;
   display: none;
   margin-left: auto;
}

.burger--item {
   width: 30px;
   height: 3px;
   background-color: #fff;
   position: relative;
   transition: all 0.5s;
}

.burger--item::before,
.burger--item::after {
   content: "";
   width: 30px;
   height: 3px;
   background-color: #fff;
   position: absolute;
   transition: all 0.5s;
}

.burger--item::before {
   top: -12px;
}
.burger--item::after {
   top: 12px;
}
.burger--item.active {
   background-color: transparent;
}
.burger--item.active::before {
   transform: rotate(45deg);
   top: 0;
}
.burger--item.active::after {
   transform: rotate(135deg);
   top: 0;
}

.mob-menu {
   padding-top: 70px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: linear-gradient(214deg, #00c6ff 0%, #0072ff 101.47%);
   z-index: 1;
   display: none;
}

.mob-menu.active {
   display: block;
}

.mob-link {
   display: block;
   color: #fff;
   text-align: center;
   border-bottom: 1px solid #fff;
   padding: 20px;
}

/* !burger */

.container {
   max-width: 1114px;
   padding: 0 15px;
   margin: 0 auto;
}

.d-flex {
   display: flex;
}

.align-items-center {
   align-items: center;
}

.justify-content-center {
   justify-content: center;
}

.fww {
   flex-wrap: wrap;
}

.btn {
   font-weight: 700;
   font-size: 18px;
   line-height: 1.33;
   font-family: PT Sans;
   padding: 16px 30px;
   color: #fff;
   background: linear-gradient(90deg, #0cebeb 0%, #20e3b2 50%, #29ffc6 100%);
   box-shadow: 0px 4px 20px rgba(32, 228, 179, 0.85);
   border-radius: 30px;
}

/* !main css */

.header {
   padding: 28px 0;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 2;
}
.nav {
   width: 100%;
   text-transform: capitalize;
}
.nav__left--link {
   font-weight: bold;
   line-height: 1.7;
   color: #fff;
   margin-left: 30px;
}
.nav__right {
   margin-left: auto;
}
.nav__right--link {
   line-height: 1.7;
   color: #fff;
   margin-left: 30px;
}

.main__wrapp {
   min-height: 100vh;
   padding-top: 236px;
   background: url(../img/mail-left.svg) no-repeat 21px 139px,
      url(../img/l-b-bg.svg) no-repeat 0 561px,
      url(../img/lt-bg.svg) no-repeat 0 145px,
      url(../img/mail-right.svg) no-repeat right 161px top 112px,
      url(../img/rb-bg.svg) no-repeat right 0 top 338px,
      url(../img/rt-bg.svg) no-repeat right 0 top 105px,
      linear-gradient(270deg, #00c6ff 0%, #0072ff 101.47%);
}

.call-to-action {
   flex-direction: column;
   text-align: center;
   margin-bottom: 165px;
}

.call-to-action__heading h1 {
   font-weight: bold;
   font-size: 48px;
   line-height: 1.29;
   color: #fff;
   max-width: 545px;
   margin-bottom: 20px;
}

.call-to-action__text {
   font-size: 18px;
   line-height: 1.33;
   color: rgba(255, 255, 255, 0.8);
   max-width: 385px;
   margin-bottom: 40px;
}

.call-to-action__text--span {
   font-weight: bold;
   color: #fff;
}

.btn {
   margin-bottom: 15px;
}

.call-to-action__btn--desc {
   line-height: 1.171;
   color: rgba(255, 255, 255, 0.8);
}

.call-to-action__btn--desc p {
   margin-left: 14px;
}

.providers {
   flex-direction: column;
   padding-bottom: 80px;
}

.providers__text {
   font-size: 16px;
   line-height: 1.31;
   color: #fff;
   margin-bottom: 35px;
}

.providers__cards {
   width: 100%;
   justify-content: space-around;
}

.providers__card--item {
   display: block;
}

/* !media */

@media only screen and (max-width: 660px) {
   .nav__left,
   .nav__right {
      display: none;
   }
   .burger {
      display: flex;
   }
}
